*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
    /* background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
    color: #fff;
    background-color: black;
  
  }